.footer {
    height: 5vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    position: fixed;
    bottom: 0;
    left: 0;
    color: #fff;
    text-align: center;
    padding: 10px;
     /* Asegúrate de que esté por encima de otros elementos */
  }