<div class="contenedor">
        <!-- Itera sobre los productos -->
        <div class="products" *ngFor="let product of products">
            <div class="card">
                <button [routerLink]="['/product', product.id_product]">
                    <img [src]="product.images[0]" class="photo card-img-top" alt="{{ product.name }}">
                </button>
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                </div>
                <div class="card-footer">
                    <p class="text-muted"><strong>Precio:</strong>{{ product.price }} €</p>
                </div>
            </div>
        </div>
</div>