<nav class="header">
    <div class="text">
      <h6>ENVÍO GRATIS A PENÍNSULA A PARTIR DE 50€</h6>
    </div>
  </nav>
  <div class="subheader">
    <div class="icons">
      <div class="cart dropdown">
        <button 
        class="btn position-relative" 
        type="button" 
        id="cartDropdown" 
        data-bs-toggle="dropdown" 
        aria-expanded="false">
        <!-- Ícono del carrito -->
        <i class="bi bi-bag fs-5 icon-auto"></i>
        <!-- Contador del carrito -->
        <!-- <span 
          class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          {{ cart.length }}
        </span> -->
      </button>
    </div> 
    <div class="login">
      <button 
        class="btn position-relative">
        <i class="bi bi-person fs-4 icon-auto icon-shadow"></i>
      </button>
    </div>
    </div>
  </div>

