
<body>
    <div class="landing-page"> 

        <nav #navbar class="navbar navbar-dark bg-transparent">
            <div class="container">
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                    >
                    <span class="navbar-toggler-icon "></span>
                </button>
                <div  #collapse class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                TIENDA
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item dropdown-item-dark" routerLink="/products">Pantalones y faldas</a></li>
                                <li><a class="dropdown-item" href="#">Camisetas y tops</a></li>
                                <li><a class="dropdown-item" href="#">Vestidos</a></li>
                                <li><a class="dropdown-item" href="#">Total look</a></li>
                                <li><a class="dropdown-item" href="#">Accesorios</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">ABOUT US</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">CONTACT</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        

        <div class="title">
            <img class= "logo" src="/logotipo.png">
        </div>
        


    </div>

</body>


