.contenedor{
    border: blue 3px solid;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal; 
}
.logotipo{
    height: 70px;
    width: 100%;
    background-color: rgb(190, 77, 96);
    border: rgb(128, 0, 81) 2px solid;
    display: flex;
    align-content: center;
    justify-content: center;
}
.logo{
    border: green 2px solid;
    height: 50px;
}
.product{
    height: 100%;
    width: 80%;
    display: flex;
    background-color: #93a3b3;
}
.principal{
    height: 550px;
    width: 40%;
    border: rgb(167, 67, 84) 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-principal{
height: 450px;
}
.details{
    width: 60%;
    border: orange 2px solid;
    display: flex;  
}
.properties{
    display:flex;
    flex-direction: column;
}
.title{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: large;
}
.images{
    height: 550px;
    border: blue 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.photo{
    /* border: pink 2px solid; */
    
}
.border-primary {
    border: 1px solid #6c8198 !important; /* Azul de Bootstrap */
  }
  
  .img-thumbnail:hover {
    transform: scale(1.1); /* Ampliar al pasar el ratón */
    transition: transform 0.2s;
  }
  .success-message {
    margin-top: 10px;
    color: rgb(39, 39, 39);
    animation: fadeInOut 3s ease-in-out;
  }
  