<div class="contenedor" *ngIf="product">
    
    <div class="logotipo">
      <img class= "logo" src="/logotipo.png">
    </div>
    <div class="product">
      <!-- Columna para la imagen principal -->
        <div class="principal col-md-6">
          <img [src]="selectedImage" alt="{{ product?.name }}" class="img-principal img-fluid">
        </div>
  
      <!-- Columna para el detalles y miniaturas -->
        <div class="details col-md-6">
          
        <!-- Miniaturas -->
          <div class="images">
            <div
              class="photo m-2 rounded shadow-sm"
              *ngFor="let image of product.images"
              (click)="selectImage(image)"
              [ngClass]="{'border-primary': selectedImage === image}"
              style="cursor: pointer;"
              >
              <img [src]="image" alt="Miniatura" class="img-thumbnail" style="width: 80px; height: 110px;">
            </div>
          </div>
          <!-- Detalles -->
           <div class="properties">
            <h1 class="title mb-3">{{ product.name }}</h1>
            <h3 class="mb-3">Precio: {{ product.price }} €</h3>
            <div class="product-detail-container">
              <h1>{{ product?.name }}</h1>
              <!-- Otros detalles del producto aquí -->
            
              <!-- Sección de selección de color -->
              <div class="color-selector" *ngIf="colors.length">
                <p>Seleccione el color:</p>
                <div class="color-options">
                  <label *ngFor="let color of colors"
                         class="color-option"
                         [class.selected]="color === selectedColor">
                    <!-- Input oculto para el binding -->
                    <input type="radio" name="color" [value]="color" [(ngModel)]="selectedColor" hidden>
                    <div class="color-circle" [style.backgroundColor]="color"></div>
                  </label>
                </div>
              </div>
            
            <p>Selecciona una talla:</p>
            <div class="mb-3">
              <select *ngIf="product.sizes?.length > 0; else noSizes" [(ngModel)]="selectedSize">
                <option *ngFor="let size of product.sizes" [value]="size">{{ size }}</option>
              </select>
              <ng-template #noSizes>
                <p>No hay tallas disponibles.</p>
              </ng-template>
            </div>

            <!-- <p><strong>Stock disponible:</strong> {{ product.stock }}</p> -->

            <!-- Selección de cantidad -->
            <div class="quantity">
              <button  class="btn btn-secondary"(click)="decreaseQuantity()">➖</button>
              <input [(ngModel)]="selectedQuantity" min="1">
              <button  class="btn btn-secondary"(click)="increaseQuantity()">➕</button>
            </div>

              <!-- Botón para añadir al carrito -->
            <button class="btn btn-primary" (click)="addToCart()">Añadir al carrito</button>

            <!-- Mensaje de éxito -->
            <p *ngIf="message" class="alert-message">{{ message }}</p>
            
          </div>
        
      </div>
    </div>
    <!-- Botón para volver -->
    <a routerLink="/products" class="btn btn-secondary mt-3">Volver a la lista</a>
</div>